<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/post">
        <input type="text" placeholder="Enter a Username" name="username" required/>
        <br><br>
        <textarea name="content" placeholder="Write your post" required></textarea>
        <br><br>
        <button type="submit" class="button">Submit Post</button>
    </form>
</body>
</html>
