<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home page</title>
</head>
<body>
      <h1>this is the home page 1+2 </h1>
      <h3><%= 1 + 2 %></h3>
      <h4>
            <%= "arvindkumar".toUpperCase() %>
            <br>
            <%= ["hello","arvind","kumar"] %>
      </h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias eius quas amet sequi dolorem eligendi perspiciatis similique, officia quisquam incidunt? Iusto quis totam sint quos veritatis facilis adipisci possimus ut qui architecto nihil molestias hic sapiente voluptas quas explicabo earum reprehenderit, saepe eveniet sequi. Quis quisquam possimus nemo ipsam at!</p>
      <button type="button"> CLick me </button>
      
</body>
</html>